@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f6;
}

main {
    margin: 0 10%;
}

header {
    margin: 0;
    background-color: #6d2c57;
}

nav {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #ffbd59;
    padding: 2px 2px;
    cursor: pointer;
}

ul {
    display: flex;
    width: 100%;
    margin-top: 75px;
    margin-left: 0;
}

img {
    height: 170px;
    cursor: pointer;
}

ul li {
    text-transform: uppercase;
    color: #FF9900;
    font-weight: 900;
    list-style: none;
    padding: 8px 10px;
    margin-right: 10px;
}

.right-side li a:hover {
    color: #FF6600;
    border-bottom: 3px solid #ff9900;
    transition: .5s;
}

.right-side ul .add-to-cart a:hover {
    border-bottom: none;
}

.right-side {
    margin-top: 42px;
    display: inline-block;
    margin-right: -35px;
}

.search-bar {
    padding-top: 6px;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.search-section input {
    padding: 8px 10px;
    border: none;
    outline: none;
    border: 1px solid #fff;
}

.search-bar p {
    margin: 0;
    padding: 0;
    margin-left: 15%;
    display: inline-block;
    width: 100%;
    color: #ffbd59;
    font-style: italic;
}

.search-section button {
    background: transparent;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    outline: none;
}

.search-bar input:focus,
.search-bar input:focus {
    outline: none;
}

.search-bar .fas:hover {
    color: #FF9900;
    transition: .5s;
    transform: scale(1.4);
}

.search-bar .search-btn .fas {
    background-color: #fff;
    color: #6d2c57;
    /* padding: 6px 10px; */
    padding: 4px 8px 9px 10px;
    margin: -6px -16px;
}

.search-bar .search-btn .fas:hover {
    transform: none;
    background-color: transparent;
    color: #fff;
}

.search-bar .search-btn {
    background: transparent;
    color: #fff;
    font-size: 20px;
    padding: 4px 8px 9px 10px;
}

.nav-bar {
    width: 100%;
    background-color: #6d2c57;
    margin: 0;
    position: sticky;
    top: 0px;
}

.categories {
    margin: 0 10%;
    border-top: 2px solid #FF9900;
    padding-top: 20px;
    padding-bottom: 15px;
}

.categories ul {
    margin: 0;
    float: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.categories ul li {
    border-right: 2px solid #FF9900;
    padding: 0px 15px;
}

.categories li .fas,
.categories li .fab {
    color: #FF9900;
}

.categories ul li a:hover {
    color: #FF6600;
}

.add-to-cart {
    padding: 7px 30px;
    border-radius: 20px;
    transition: .5s;
    font-size: 22px;
    position: relative;
}

.add-to-cart:hover {
    background-color: #f9dbef;
    transition: .5s;
}

.add-to-cart span {
    color: #fff;
    background-color: #ca5202;
    width: 120px;
    padding: 5px 0;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: -35px;
    right: -14px;
    font-size: 14px;
    opacity: 0;
    font-weight: normal;
    transform: scale(0);
    transition: .5s transform;
}

.tool-tip span {
    color: #fff;
    background-color: #ca5202;
    width: max-content;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 22px;
    font-size: 14px;
    opacity: 0;
    font-weight: normal;
    transform: scale(0);
    transition: .5s transform;
}

.tool-tip .login {
    right: -45px;
}

.add-to-cart:hover span,
.tool-tip:hover span,
.tool-tip:hover .login {
    opacity: 1;
    transform: scale(1);
    transition: .5s transform;
    transform-origin: bottom center;
}


/* Products Designing Here */

.main-title {
    text-align: center;
    position: relative;
    margin: 30px 0;
    color: #555;
    font-family: 'Roboto Slab', sans-serif;
}

.main-title::after {
    content: '';
    background: #FF6600;
    width: 15%;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.product-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    flex-basis: 25%;
    padding: 10px;
    max-width: 230px;
    margin-bottom: 50px;
    transition: transform .5s;
    background-color: white;
    border: 1px solid #990066;
}

.product-item:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.img-wrapper {
    flex-basis: 25%;
    max-width: 230px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    display: block;
    transition: all .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.1);
}

.product-desc .product-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.product-desc .product-price {
    text-align: center;
    font-weight: bold;
}


/* Button Styling */

.product-btn-container {
    display: flex;
    justify-content: space-evenly;
}

.product-btn {
    text-align: center;
    color: #ffffff;
    background-color: #FF6600;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 2px;
    width: 100px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all .5s ease;
    font-family: 'Montserrat', sans-serif;
}

.product-btn:hover {
    color: #ffffff;
    background-color: #FF9900;
}

.product-btn i {
    margin: 0 2px 0 0;
}

.add-container {
    text-align: center;
}

.add-container .cart-btn {
    width: 90%;
}


/* Pagination */

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #990066;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:first-child {
    margin-left: 0px;
}

.page-btn span:hover {
    background: #FF6600;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


/* Ends Here */


/* Responsive */

@media only screen and (max-width:992px) {
    main {
        margin: 0 5%;
    }
    .product-item {
        flex-basis: 33%;
    }
}

@media only screen and (max-width:768px) {
    main {
        margin: 0;
    }
    .product-container {
        justify-content: space-evenly;
    }
    .product-container {
        text-align: center;
    }
    .product-item {
        flex-basis: 50%;
    }
    .page-btn {
        text-align: center;
    }
}

@media only screen and (max-width:576px) {
    .product-container {
        text-align: center;
    }
    .product-item {
        flex-basis: 100%;
    }
}